html{

}
button {
	background:url(../img/space.jpg);
	align-self: center;
	font-family:cursive;
	width:300px;
	color:white;
	border-radius:100px;
	border-style:none;
	font-size:30px;

}

body{

	cursor:url("../img/etoile.png"), default;
	background-image:url(../img/stage.png);
	background-color: black;
	color: white;
	display:flex;
	width:100%;
	height:300%;
	font:bold;
	flex-direction:column;
	background-size:cover;

}

div {

	text-align:center;
	padding:0px 16px;
	margin:12px 0px;
	font-size:50px;
	align-content: center;
	align-self: center;
	justify-content:space-between;

}

#autoclick:active{

	color:blue;
}

#autoclick:disabled {
	background:url(../img/black.jpg);
	color:red;
}

#bonus:active{

	color:blue;
}

#bonus:disabled {
	background:url(../img/black.jpg);
	color:red;
}

#clic{
	
	background:url(../img/cookie_.png);
	width:500px;
	height:300px;
	cursor: pointer;
	border-radius:130px;
	max-width: 100%;
}
#clic:active{
	background:url(../img/tablette-chocolat.png);
	width:500px;
	height:300px;
	cursor:"../img/etoile.png",pointer;
	border-radius:130px;
	max-width: 100%;

}
#multiplier:active{

	color:blue;
}
#multiplier:disabled{

	background:url(../img/black.jpg);
	color:red;
}
